body {
  background-color: #4dc1e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

/* navigation menu */
menu {
  background-color: #ffe6e6;
  min-height: 80px;
  margin: 0;
  border-bottom: rgb(2, 2, 2) solid 5px;
}
menu ul {
  display: flex;
  padding: 30px;
}
menu ul li {
  list-style: none;
}
menu ul li a {
  padding: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
menu ul li a:hover {
  background-color: #ff6666;
}

/* page container */
/* .container {
  padding: 50px;
  margin: 50px;
} */

.border {
  background-color: #d2eff7;
  border-radius: 15px;
  border-style: dashed;
  border-width: 9px;
  border-color: #4dc1e1;
}


h1 {
  margin: 50px;
  text-align: center;
}
h2 {
  text-align: center;

}

/* section contain into rows */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* section - ingredients */
.ingredients,
.recipe {
  clear: both;
  width: 600px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
}

.ingredient {
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.inner-ingredients {
  padding: 0 40px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.recipe ol li {
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: 1;
}


input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  font-style: italic;
  color: red;
}

.container ul {
  margin-left: 10px;
}
.container ol {
  list-style-type: none;
  counter-reset: counter;
}
.container ol li:before {
  content: "Step " counter(counter) ". ";
  counter-increment: counter;
  font-weight: bold;
}
.container li {
  font-size: 1.2em;
  padding: 5px;
}
.container hr {
  width: 75%;
  color: #4dc1e1;
  border: solid black 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.menu {
  float: left;
}
.menu select {
  min-width: 280px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
.menu div {
  margin: 30px;
}

/* .c-flavor {
    display: none;
} */
/* .c-icing {
    display: none;
} */

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

/* img {
  animation: sway;
  animation-duration: 6s;
  animation-iteration-count: 1;
} */

/* .img-data {
  display: block;
} */

#flavors option:checked[value="vanilla"] + .img-data {
  display: none;
  /* animation: main-ingredients;
  animation-duration: 6s;
  animation-iteration-count: 1; */
}

@keyframes main-ingredients {
  0% {
    display: block;
  }
}

.sway {
  position: relative;
  left: 0;
  animation: sway 2s ease-in-out infinite;
}

@keyframes sway {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}


/* img {
  max-width: 300px;
}
.img-data {
    float: left;
} */

/* .img-data .top {
    position: relative;
    top: 20px;
    width: 530px;
    z-index: 3;
    
}
.img-data .mid {
    position: absolute;
    top: 410px;
    width: 530px;
    left: 350px;
    z-index: 2;
}
.img-data .bottom {
    position: absolute;
    top: 418px;
    width: 530px;
    left: 355px;
    z-index: 3;
} */

