body {
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 46px;
    color: #e836a4;
}

p {
    font-size: 20px;
    margin: 20px 0;
    color: #ff7366;
}



.door {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* ... Other CSS styles ... */

.open-door {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.door .open-button {
    text-decoration: none;
    background-color: #ff6666;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    display: none; /* Add this line */
}



.door #open-door-checkbox:checked + .open-door + .open-button {
    display: block;
}

#open-door-checkbox:checked + .open-door {
    display: block;
}