body {
  background-color: #4dc1e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

/* navigation menu */
menu {
  background-color: #ffe6e6;
  min-height: 80px;
  margin: 0;
  border-bottom: rgb(2, 2, 2) solid 5px;
}
menu ul {
  display: flex;
  padding: 30px;
}
menu ul li {
  list-style: none;
}
menu ul li a {
  padding: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
menu ul li a:hover {
  background-color: #ff6666;
}

/* page container */
.container {
  padding: 50px;
  margin: 50px;
}
.border {
  background-color: #d2eff7;
  border-radius: 15px;
  border-style: dashed;
  border-width: 9px;
  border-color: #4dc1e1;
}
.border2 {
  border-style: solid;
  border-color: #eac9c9;
  border-color: #4dc1e1;
  background-color: #ffe6e6;
  background-color: #ffffff;
  border-width: 9px;
}

@keyframes lookhere {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: scale(2);
    color: red;
  }
  100% {
    transform: translateY(0px);
  }
}
h1 {
  margin: 50px;
  text-align: center;
  animation: lookhere;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
h2 {
  text-align: center;

}

/* section contain into rows */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* section - ingredients */
.content {
  width: 800px;
  min-width: 400px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}

.content p {
  margin: auto;
  padding: 40px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}


@keyframes special {
  0% {
    transform: translateY(0px);
    color: black;
  }
  50% {
    transform: scale(2);
    color: red;
  }
  100% {
    transform: translateY(0px);
    color: gold;
  }
}
#rewards1 {
  display: none;
}
#rewards0 input[type="checkbox"]:checked + #rewards1 {
  display: block;
}
#rewards2 {
  display: none;
}
#rewards1 input[type="text"]:not(:placeholder-shown) + hr + #rewards2 {
  display: block;
  animation: special;
  animation-duration: 5s;
  color: gold;
  font-weight: bold;
  outline: #4dc1e1;
  text-shadow: 1px 1px purple, -1px -1px purple, 1px -1px purple, -1px 1px purple;
}

.menu {
  float: left;
}
.menu select {
  min-width: 280px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
.menu div {
  margin: 30px;
}


.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

/* img {
  animation: sway;
  animation-duration: 6s;
  animation-iteration-count: 1;
} */

@keyframes main-ingredients {
  0% {
    display: block;
  }
}

.sway {
  position: relative;
  left: 0;
  animation: sway 2s ease-in-out infinite;
}

@keyframes sway {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}