       body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
	background-color: #faf3e0;
}

html {
    background-color: #E1F8DC;
	border: 6.5px dashed orange;
	margin: 100px;
}

#topname {
    margin-top: 1%;
}
@keyframes slideInLeft{
	from{
		transform: translateX(-300px);
	}
	to{
		transform: translateX(0);
	}
}
.abus-recipe #topname{
	animation: slideInLeft 1s ease-out both;
	
}
	

.abus-recipe {
    margin: auto;
    font-family: Verdana;
    border-radius: 2px;
    font-size: 10pt;
}

.abus-recipe h1,
.abus-recipe h3 {
	color: light-blue;
    padding: 2%;
    background-color: #FFB6C1;
    text-align: center;
    transition: background-color 0.7s transform: 0.2s;
}
.abus-recipe h1:hover,
.abus-recipe h3:hover {
    background-color: lightblue;
    transform: scale(1.05);
    cursor: pointer;
}
.abus-recipe img {
    width: 25%;
    height: 25%;
    border: 5px solid pastel;
    border-radius: 45%;
    margin-left: 10%;
    margin-top: -12%;
}
.abus-recipe .image img:hover {
	
  animation: bounce 1s ease infinite;
  cursor: pointer;
}

@keyframes bounce {
   0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-30px); 
    }
    50% {
        transform: translateY(30px); 
    }
    
}


.abus-recipe .info-container  {
    display: flex;
    margin: 1;
    gap: 2%;
	
}

#flavour-select {
    margin-left: 55%;
    margin-top: 5%;
}

#toppings-select {
    margin-left: 55%;
    margin-top: 2%;
}

#flavour-select label {
    color: brown;
    font-size: 20px;
    font-weight: bolder;
}

#toppings-select label {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(33, 123, 156);
}

#flavour-select select {
    padding: 10px;
    margin-top: 2%;
    border-radius: 2px;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 15px;
}

#toppings-select select {
    padding: 10px;
    margin-top: 2%;
    border-radius: 2px;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 15px;
}

.info-container li:hover {
    color: #61C49A;
    font-size: 16px;
	transition: color 0.3s, font-size: 0.3s;
	  cursor: pointer;
}

.abus-recipe #ingredients {
    border: 1px solid #ACDDDE;
    background-color: #F7D8BA;
    width: 50%;
    height: auto;
    line-height: 1.4vw;
    margin-top: 50px;
}

.abus-recipe #direction {
    border: 1px solid #ACDDDE;
    background-color: #FEF8DD;
    width: 50%;
    height: auto;
    line-height: 1.4vw;
    margin-top: 50px;
}

#direction li {
    padding-right: 20px;
}
.nutrition-table {
    width: 40%;
	margin-left: 30%;
    border-collapse: collapse;
    border: 1px solid #ccc;

}

.nutrition-table th, .nutrition-table td {
    padding: 10px;
    text-align: left;
}

.nutrition-table th {
    background-color: #FFB6C1;
}

.nutrition-table tr:nth-child(even) {
    background-color: #F7D8BA;
}

.nutrition-table tr:nth-child(odd) {
    background-color: #FEF8DD;
}
.nutrition-table tr {
    transition: background-color 0.3s;
}

.nutrition-table tr:hover {
    background-color: lightblue;
	cursor: pointer;
}

 .gif1{
	margin-right: 70px;
	margin-bottom: 200px;
	width: 80%;
    height: 80%;
}
 .gif2{
	
	width: 70%;
    height: 70%;
	margin-left: 60%;
	margin-top: -200px;
	
	
}

