        html{
			background-color: #E1F8DC;
		}
		#topname{
			margin-top: -1%;
		}
		
		.abus-recipe{
			margin: auto;
			font-family: Verdana;
			border-radius: 2px;
			font-size: 10pt;
		}
		.abus-recipe h1, .abus-recipe h3{
		    padding: 2%;
			background-color: #FFB6C1;
			text-align: center;
			transition: 0.7s;
		}
		
		
		.abus-recipe img{
			width: 25%;
			height: 25%;
			border: 5px solid pastel;
			border-radius: 45%;
			margin-left: 10%;
			margin-top: -10%;
 			}
		.abus-recipe .info-container{
			display: flex;
			margin: 1;
			gap: 2%;
		}
			
		#flavour-select {
			
            margin-left: 55%;
			margin-top: 5%;
		
			
        }
		
		#toppings-select{
		 margin-left: 55% ;
		 margin-top: 2%;
		
		
		}
        #flavour-select label {
			color: brown;
            font-size:20px;
		 font-weight:bolder;
        }

        #toppings-select label {
         font-size:20px;
		 font-weight:bolder;
		 color: rgb(33,123,156);
        }
        #flavour-select select {
			padding: 10px;
			
		 margin-top: 2%;
		 border-radius: 2px;
		 justify-content: center;
		position: relative;
		height: 50px;
		width: 200px;
		font-size: 15px;
        }
		 #toppings-select select {
		padding: 10px;
		margin-top: 2%;
		border-radius: 2px;
		justify-content: center;
		position: relative;
		height: 50px;
		width: 200px;
		font-size: 15px;
         }
		.container li:hover{
			color: #61C49A;
			font-size: 20px;
		}
		.abus-recipe #ingredients{
			border: 1px solid #ACDDDE;
			background-color: #F7D8BA;
			width: 50%;
			height: auto;
			line-height: 1.4vw;
			margin-top: 50px;
			
		}
		.abus-recipe #direction{
			border: 1px solid #ACDDDE;
			background-color: #FEF8DD;
			width: 50%;
			height: auto;
			line-height: 1.4vw;
			margin-top: 50px;
			
		}
		#direction li{
			padding-right: 20px;
		}