body {
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 36px;
    color: #ff6666;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
    animation: welcomeAnimation 2s;
}

@keyframes welcomeAnimation {
    0% {
        transform: scale(1);
        opacity: 0.2;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.2;
    }
}

p {
    font-size: 20px;
    margin: 20px 0;
    color: #ff9966;
}

.dessert-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 250px;
    border: 2px solid #ff6666;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.1);
    background-color: #f5abf6;
}

.box.cupcake .box-image {
    background-image: url('assets/cupcake.png');
}

.box.ice-cream .box-image {
    background-image: url('assets/icecream.png');
}

.box.donut .box-image {
    background-image: url('assets/donut.png');
}

.box.cookies .box-image {
    background-image: url('assets/cookies.png');
}

/* Common styles for all boxes */
.box-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease-in-out; 
}

.box.cupcake:hover .box-image {
    background-image: url('assets/cupcake-tryme.png');
}

.box.ice-cream:hover .box-image {
    background-image: url('assets/icecream-tryme.png');
}

.box.donut:hover .box-image {
    background-image: url('assets/donut-tryme.png');
}

.box.cookies:hover .box-image {
    background-image: url('assets/cookies-tryme.png');
}
